body {
    transition: background-color 1s;
    overflow: hidden;
}
.frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 90%;
    border: 41px solid #ffffff;
    z-index: -1;
}
.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura para centrar verticalmente */
}
