<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página con Rectángulos Laterales</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <div class="header">Rectángulo Superior</div>
    <div class="container">
        <div class="left">
            <div class="image-container">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/36/RPP_logo.png" alt="Imagen 1">
            </div>
            <div class="image-container">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/LOGO_RADIO_KARIBE%C3%91A.png" alt="Imagen 2">
            </div>
            <div class="image-container">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Radio_Am%C3%A9rica_Per%C3%BA_2021.png" alt="Imagen 3">
            </div>
            <div class="image-container">
                <img src="https://www.radiopanamericana.com/images/logo-2023.png" alt="Imagen 4">
            </div>
            <div class="image-container">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Radio_Nacional_del_Per%C3%BA.png/800px-Radio_Nacional_del_Per%C3%BA.png" alt="Imagen 5">
            </div>
        </div>        
        <div class="main">

            <div class="music-player">
                <audio controls>
                    <source src="../static/msc/static\msc\Mon Laferte  Tu Falta De Querer En Vivo.mp3" type="audio/mpeg">
                    Tu navegador no soporta el elemento de audio.
                </audio>
            </div>

        </div>
        <div class="right">
            <img src="https://marketplace.canva.com/EAFQsqjGHeI/2/0/900w/canva-reel-de-instagram-men%C3%BA-hamburguesa-oferta-men%C3%BA-publicidad-moderno-animado-verde-y-rojo-8fIEaY-sfLo.jpg" alt="Imagen 4">
        </div>
    </div>
    <div class="footer">
        <img src="https://www.songsterr.com/static/media/plus-showroom-footer.9c7f533e.svg" alt="Imagen 4">
    </div>
</body>
</html>
